*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #f0f9ff;
    padding-block: 1rem;


}

.innerNav{    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navRight{
    width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genLayout{
    max-width: 1000px;
    margin: auto;
}

.navItems{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navItems > a {
    color: #536a79;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 700;
    
}

.navItems > a:first-child{
    color: #0a0650;

}

.navIcons{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navIcons > button{
    width: 110px;
    background-color: #0a0650;
    color: #fff;
    padding: .7rem;
    border-radius: 20px;
    border: none;
    font-size: 10px;
    font-weight: 700;
    text-transform: capitalize;
}

.navIcons > button:last-child{
    background-color: transparent;
    color: #0a0650;
    border: 1px solid #0a0650;
}

/* banner styling */
.secOne{
    padding-block: 2rem;
}
.bannerWrapper {
    /* background-color: red; */
    /* border: 2px solid; */
    /* height: 40vh; */
    display: flex;
    align-items: center;
    gap: 3rem;
    /* justify-content: space-between; */
}

.bannerContent{
    /* border: 2px solid red; */
    flex: 1;
    /* width: 50%; */

}

.bannerContent > h1{
    color: #0a0650;
    font-weight: 500;
    text-transform: capitalize;
}

.bannerContent > p {
    margin-block: 1rem;
}

.trackBtn {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.trackBtn > button{
    background-color: #180ec7;
    border: none;
    color: #fff;
    padding: 0.5rem 1.4rem;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 12px;
}

.bannerImg{
    width: 40%;
}

.bannerImg > img{
    width: 100%;
    height: 100%;
    .object-fit: cover;
}

/* responsive code for navbar and banner */
@media(min-width:320px) and (max-width:500){
    .innerNav{
        width: calc(100%-40px);
        flex-direction: column;
    }

    .bannerImg{
        width: 100%;
    }

}
